#wrapper{
  text-align: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(teal, green);
  padding-top: 100px;
  color: white;
}

a:visited{
  color: white;
}

#wrapper a{
  font-size: 2em;
}

#wrapper h1{
  font-size: 4em;
}

.wrapper {
  width: 500px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid black;
  margin: 100px auto;
  background-color: teal;
  color: white;
}
