
a:visited{
  color: white;
}

#wrapper a{
  font-size: 2em;
}

#wrapper h1{
  font-size: 4em;
}

.wrapper {
  width: 500px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid black;
  margin: 100px auto;
  background-color: teal;
  color: white;
}

body {
  min-height: 100vh;
  background: linear-gradient(90deg, teal 5%, skyblue 40%, skyblue 70%, teal 95%);
}

#wrapper {
  width: 800px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid black;
  margin: 100px auto;
  background-color: teal;
  color: white;
  text-align: center;
  height: 400px;
}