<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login-page</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div class="wrapper">
  <h1>Welcome to to-do-list</h1>
  <form action= "/login" method= "post">
    <lebel for="username">username:</lebel>
    <input type="text" id="username" name='username' required placeholder="username"></br></br>
    <label for="password">Password:</label>
    <input type="password" id="password" name='password' required placeholder="password" minlength="8" maxlength="32"></br></br>
    <input type="submit" value="log-in">
  </form>
  <p style="color: red"><%=@error%></p>
  <p>Don't have account? <a href='/signup'>Sign Up</a></p>
</div>
</body>
</html>