<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>signup</title>
</head>
<body>
  <h1>Please fill out the requirements</h1></br>
  <form action="/signup" method="post">
    <label for="fname">Firstname:</label>
    <input type="text" id="fname" required placeholder="firstname"></br></br>
    <label for="lname">Lastname:</label>
    <input type="text" id="lname" required placeholder="lastname"></br></br>
    <label for="uname">Username:</label>
    <input type="text" id="uname" required placeholder="username"></br></br>
    <label for="pword">Password:</label>
    <input type="password" id="pword" required placeholder="password" minlength="8" maxlength="12"></br></br>
    <input type="submit" value="sign-up">
  </form>
</body>
</html>