<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo list</title>
</head>
<body>
  <h1>Please create some todo's..</h1>
  <h2>Welcome <%=@current_user.firstname%></h2>
  <form action="/logout">
    <input type='submit' value='logout'>
  </form>
</body>
</html>